POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres_password
POSTGRES_DB = hr_database
PGADMIN_EMAIL = admin@example.com
PGADMIN_PASSWORD = admin1234
PGADMIN_PORT = 5050


IS_LOCAL=TRUE
COMPOSE_PROFILES=local

# если TRUE
VLLM_PORT=8000
VLLM_API_KEY=local-key-123
MODELS_DIR=./models
HF_CACHE=./.hf_cache
HUGGING_FACE_HUB_TOKEN=

# если FALSE
VLLM_PORT=8000
VLLM_API_KEY=local-key-123
MODELS_DIR=./models
HF_CACHE=./.hf_cache
HUGGING_FACE_HUB_TOKEN=