POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=hr_database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin1234
PGADMIN_PORT=5050

VLLM_HOST_PORT=18002
HOME=/mnt/c/Users/JGSnapp

LLM_MODEL=Qwen/Qwen2.5-7B-Instruct-GPTQ-Int4
LLM_API_KEY=fake-key
LLM_BASE_URL=http://vllm:8001/v1
